@import "fonts/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.color--gray-3 {
    color: #474747;
}

.color--gray-4 {
    color: #6B6B6B;
}

.color--gray-6 {
    color: #B3B3B3;
}

.h32 {
    height: 32px;
}

.h36 {
    height: 36px;
}

.title--h3-light {
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
}

.title--h3-medium {
    height: 32px;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
}

.title--h3-semibold {
    height: 94px;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
}

.title--h4-normal {
    font-weight: 400;
    font-size: 22px;
    line-height: 116%;
}

.title--h4-medium {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 116%;
}

.text--sm-normal {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.text--sm-medium {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.text--md-normal {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
}

.text--md-medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
}

.text--md-semibold {
    font-weight: 600;
    font-size: 1rem;
    line-height: 140%;
}

.text--md-bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
}

.text--l-medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 133%;
}

/* ? ОСНОВНОЕ СОДЕРЖИМОЕ САЙТА */
html {
    background-color: #F6F6F6;
    font-family: Gilroy, Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #242424;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.header__container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 834px;
    width: 1146px;
}

#hamburger__toggle {
    display: none;
}

.hamburger__list {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 80px;
    text-align: center;
    background: linear-gradient(#FFFFFF, #FFFFFF) content-box,
        linear-gradient(#FFC41E, #FFC41E) padding-box;
    z-index: 100;
}

.hamburger__item {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px 0;
    height: 68px;
    width: calc(100vw - 220px);
    border-bottom: 1px solid rgba(238, 191, 58, 0.5);
    font-weight: 600;
    font-size: 16px;
    line-height: 52px;
    text-decoration: none;
    color: #242424;
}

.hamburger__list li:nth-child(1) {
    margin-top: 10px;
}

.hamburger__list li:nth-child(4) {
    margin-bottom: 21px;
}

.hamburger__list li:nth-child(4) {
    border: none;
}

.hamburger__item:hover {
    background-color: rgba(238, 191, 58, 0.15);
}

.hamburger__item:active {
    background-color: rgba(238, 191, 58, 0.3);
}

.hamburger__list {
    transition: all .3s ease 0s;
}

.hamburger__item:hover {
    transition-duration: .1s;
}

.hamburger__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 24px;
    padding: 10px 5px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 150;
}

.hamburger__btn>span,
.hamburger__btn>span::before,
.hamburger__btn>span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #242424;
}

.hamburger__btn>span::before {
    content: '';
    top: -9px;
}

.hamburger__btn>span::after {
    content: '';
    top: 9px;
}

.hamburger__btn>span,
.hamburger__btn>span::before,
.hamburger__btn>span::after {
    transition-duration: .25s;
}

.hamburger__background {
    position: fixed;
    visibility: hidden;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 90;
}

#hamburger__toggle:checked~.hamburger__btn>span {
    position: fixed;
    transform: rotate(45deg);
}

#hamburger__toggle:checked~.hamburger__btn>span::before {
    position: fixed;
    top: 0;
    transform: rotate(0);
}

#hamburger__toggle:checked~.hamburger__btn>span::after {
    position: fixed;
    top: 0;
    transform: rotate(90deg);
}

#hamburger__toggle:checked~.hamburger__list,
#hamburger__toggle:checked~.hamburger__background {
    visibility: visible;
    top: 0;
}

.header__nav {
    margin-top: 33px;
    margin-bottom: 68px;
    height: 63px;
    width: 91.50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav li {
    font-weight: 600;
    transition: text-shadow .25s;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #242424;
}

.header__nav li:hover,
.hamburger__item:hover {
    text-shadow: 0 0 0.01px;
    color: #000000;
    text-decoration-line: underline;
}

.header__nav li:active,
.hamburger__item:active {
    text-shadow: 0 0 0.01px;
    color: #6B6B6B;
    text-decoration-line: underline;
}

.header__nav li:disabled,
.hamburger__item:disabled {
    color: #B3B3B3;
}

.header__nav ul,
.social {
    display: flex;
}

.header__nav ul:nth-child(-n+2) li {
    margin-right: 32px;
}

.social li:first-child {
    margin-right: 28px;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__title {
    margin: 0;
    width: 659px;
    max-height: 77px;
    font-weight: bold;
    font-size: 72px;
    line-height: 120%;
}

.header__subtitle {
    margin: 2px 0 0;
    width: 659px;
    font-weight: 300;
    font-size: 16px;
    line-height: 115%;
    color: #6B6B6B;
}

.header__slogan {
    margin: 12px 0 0;
    width: 659px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #474747;
}

.header__text {
    margin: 43px 0 44px;
    width: 428px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #C78100;
}

.header__content a {
    display: inline-block;
    text-decoration: none;
}

.dog {
    position: absolute;
    height: 713px;
    width: 713px;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    background-image: url(background/dog.jpg);
    border-radius: 0px 0px 8px 8px;
    z-index: -100;
}

.cat {
    position: absolute;
    width: 483px;
    height: 469px;
    background-repeat: no-repeat;
    top: 470px;
    right: 166px;
    background-image: url(background/cat.png);
    z-index: 10;
}

.ya_budu_luchshym_drugom {
    position: absolute;
    width: 772px;
    height: 404px;
    top: 374px;
    left: -112px;
    z-index: -10;
    background: url(background/ya_budu_luchshym_drugom.svg) no-repeat;
}

@media (min-width: 360px) and (max-width: 639px) {
    .header__container {
        height: auto;
        width: 300px;
    }

    .header__nav {
        margin-top: 24px;
        margin-bottom: 20px;
        height: 32px;
        width: 100%;
    }

    .header__content {
        margin-bottom: 28px;
    }

    .header__title {
        font-size: 30px;
    }

    .header__subtitle {
        margin: 0;
        width: 211px;
        font-size: 12px;
    }

    .header__slogan {
        margin: 20px 0 0;
        width: 158px;
        font-size: 14px;
    }

    .header__text {
        margin: 92px auto 20px;
        font-size: 16px;
        width: 300px;
        text-align: center;
    }

    .header__content a {
        align-self: center;
    }

    .dog {
        right: -84px;
        height: 357px;
        width: 360px;
        background-size: contain;
        clip-path: inset(0 15% 0 22.5% round 0 0 8px 8px);
    }

    .cat {
        width: 165px;
        height: 157px;
        background-size: contain;
        top: 242px;
        right: 33px;
    }

    .ya_budu_luchshym_drugom {
        width: 217px;
        height: 118px;
        background-size: contain;
        top: 270px;
        left: -30px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .header__container {
        height: auto;
        width: 382px;
    }

    .header__nav {
        margin-top: 24px;
        margin-bottom: 20px;
        height: 32px;
        width: 100%;
    }

    .header__content {
        margin-bottom: 47px;
    }

    .header__title {
        font-size: 30px;
    }

    .header__subtitle {
        margin: 0;
        width: 281px;
        font-size: 12px;
    }

    .header__slogan {
        margin: 20px 0 0;
        width: 281px;
        font-size: 14px;
    }

    .header__text {
        margin: 152px auto 20px;
        width: 382px;
        font-size: 16px;
        text-align: center;
    }

    .header__content a {
        align-self: center;
    }

    .dog {
        right: -140px;
        height: 357px;
        width: 360px;
        background-size: contain;
        clip-path: inset(0 3% 0 10.3% round 0 0 8px 8px);
    }

    .cat {
        width: 165px;
        height: 157px;
        background-size: contain;
        top: 242px;
        right: -23px;
        z-index: -20;
    }

    .ya_budu_luchshym_drugom {
        width: 385.4px;
        height: 210.6px;
        background-size: contain;
        top: 178px;
        left: -116px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header__container {
        height: auto;
        width: 548px;
    }

    .header__nav {
        height: 40px;
        margin-top: 24px;
        margin-bottom: 20px;
    }

    .header__content {
        margin-bottom: 42px;
        width: 548px;
    }

    .header__title {
        font-size: 42px;
    }

    .header__subtitle {
        margin: 6px 0 0;
        width: 311px;
        font-size: 14px;
    }

    .header__slogan {
        margin: 8px 0 0;
        width: 311px;
        font-size: 14px;
    }

    .header__text {
        margin: 40px 0 44px;
        width: 204px;
        font-size: 16px;
    }

    .dog {
        right: -12px;
        height: 385px;
        width: 388px;
        background-size: contain;
        clip-path: inset(0 3% 0 8.3% round 0 0 8px 8px);
    }

    .cat {
        width: 235px;
        height: 222px;
        background-size: contain;
        top: 260px;
        right: 87px;
        z-index: -20;
    }

    .ya_budu_luchshym_drugom {
        width: 423px;
        height: 230px;
        background-size: contain;
        top: 193px;
        left: -112px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .header__container {
        height: 642px;
        width: 804px;
    }

    .header__nav {
        margin-top: 24px;
        margin-bottom: 20px;
    }

    .header__content {
        width: 804px;
    }

    .header__title {
        font-size: 64px;
    }

    .header__subtitle {
        margin: 0;
        width: 461px;
        font-size: 14px;
    }

    .header__slogan {
        margin: 12px 0 0;
        width: 461px;
        font-size: 14px;
    }

    .header__text {
        width: 300px;
        font-size: 16px;
    }

    .dog {
        right: -17px;
        height: 564px;
        width: 568px;
        background-size: contain;
        clip-path: inset(0 3% 0 8.3% round 0 0 8px 8px);
    }

    .cat {
        width: 344px;
        height: 326px;
        background-size: contain;
        top: 377px;
        right: 130px;
    }

    .ya_budu_luchshym_drugom {
        width: 573px;
        height: 300px;
        background-size: contain;
        top: 310px;
        left: -112px;
    }
}

.thanks__background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background__color {
    position: relative;
    background-color: white;
    z-index: 0;
}

/* ? Секция INFO */
.info__wrapper {
    display: flex;
}

.info__container {
    position: relative;
    display: flex;
    margin-top: 54px;
    margin-bottom: 75px;
    height: 521px;
    width: 44vw;
}

.info__mask {
    height: 100%;
    background-color: #FFC41E;
}

.info__mask--rect {
    width: calc(44vw - 521px);
}

.info__mask--square {
    width: 521px;
    border-radius: 0 50% 50% 0;
}

.info__img--big {
    box-sizing: border-box;
    padding: 5.47%;
    height: 100%;
    /* Если вдруг картинка поменяется на квадратную
    object-fit: cover;
    width: 100%;
    border-radius: 100%;*/
}

.info__img--small {
    position: absolute;
    bottom: -20px;
    right: -29px;
    box-sizing: border-box;
    background-color: #EEBF3A;
    border: 8px solid #EEBF3A;
    height: 245px;
    border-radius: 100%;
    /* Если вдруг картинка поменяется на квадратную
    object-fit: cover;
    width: 100%;*/
}

.info__content {
    margin-top: 128px;
    margin-left: 94px;
    margin-bottom: 34px;
    width: 466px;
}

.info__title {
    margin: 0 auto 28px;
    text-align: center;
    color: #AD7F00;
}

.info__text {
    margin: 0 auto 20px;
}

@media (min-width: 360px) and (max-width: 639px) {
    .info__wrapper {
        flex-wrap: wrap;
    }

    .info__container {
        margin: 16px 0;
        height: 193px;
        width: 64.4vw;
    }

    .info__mask--rect {
        width: calc(64.4vw - 193px);
    }

    .info__mask--square {
        width: 193px;
    }

    .info__img--small {
        bottom: -8px;
        right: -12px;
        border: 3px solid #EEBF3A;
        height: 91px;
    }

    .info__content {
        margin: 16px auto 0;
        width: 300px;
    }

    .info__title {
        margin: 0 auto 16px;
    }

    .info__text {
        margin: 0 auto 16px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .info__wrapper {
        flex-wrap: wrap;
    }

    .info__container {
        margin: 16px 0;
        height: 193px;
        width: 64.4vw;
    }

    .info__mask--rect {
        width: calc(64.4vw - 193px);
    }

    .info__mask--square {
        width: 193px;
    }

    .info__img--small {
        bottom: -8px;
        right: -12px;
        border: 3px solid #EEBF3A;
        height: 91px;
    }

    .info__content {
        margin: 16px auto 0;
        width: 382px;
    }

    .info__title {
        margin: 0 auto 16px;
    }

    .info__text {
        margin: 0 auto 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .info__container {
        margin-top: 24px;
        height: 273px;
        width: 44vw;
    }

    .info__mask--rect {
        width: calc(44vw - 273px);
    }

    .info__mask--square {
        width: 273px;
    }

    .info__img--small {
        bottom: -11px;
        right: -16px;
        border: 4px solid #EEBF3A;
        height: 129px;
    }

    .info__content {
        margin-top: 24px;
        margin-left: 55px;
        margin-bottom: 8px;
        width: 264px;
    }

    .info__title {
        margin: 0 auto 24px;
    }

    .info__text {
        margin: 0 auto 16px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .info__container {
        margin-top: 36px;
        height: 362px;
        width: 44vw;
    }

    .info__mask--rect {
        width: calc(44vw - 362px);
    }

    .info__mask--square {
        width: 362px;
    }

    .info__img--small {
        bottom: -14px;
        right: -20px;
        border: 6px solid #EEBF3A;
        height: 170px;
    }

    .info__content {
        margin-top: 67px;
        margin-left: 73px;
        margin-bottom: 20px;
        width: 323px;
    }

    .info__title {
        margin: 0 auto 24px;
    }

    .info__text {
        margin: 0 auto 16px;
    }
}

/* ? Секция HELP */
#help {
    min-height: 471px;
}

.help__title {
    margin: 80px auto 0;
    text-align: center;
}

.help__buttons {
    margin: 47px auto 80px;
    width: 1146px;
    display: flex;
    Justify-content: space-between;
    flex-wrap: wrap;
    color: #474747;
}

.help__button {
    width: 166px;
}

.help__button--img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background: #F6F6F6;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    border-radius: 100%;
    cursor: pointer;
}

.help__button--img img {
    width: 63.5%;
}

.help__button--text {
    margin: 24px auto 0;
    text-align: center;
}

.help__button--img:hover {
    background: linear-gradient(#FAFAFA, #FAFAFA) padding-box,
        linear-gradient(134.06deg, rgba(235, 235, 235, 0.5) 27.77%, rgba(255, 255, 255, 0) 67.42%) border-box;
    border: 1px solid transparent;
}

.help__button--img:active {
    background: linear-gradient(147.91deg, #F1F0F0 17.56%, #EEEEEE 52.29%, #F1F1F1 84.92%) padding-box;
    box-shadow: -6px -6px 16px rgba(224, 224, 224, 0.6), 6px 6px 16px rgba(255, 255, 255, 0.77);
}

@media (min-width: 360px) and (max-width: 639px) {
    .help__title {
        margin: 32px auto 0;
    }

    .help__buttons {
        Justify-content: center;
        margin: 24px auto 16px;
        width: 316px;
    }

    .help__button {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 24px;
        width: 142px;
    }

    .help__button--img {
        height: 80px;
        width: 80px;
    }

    .help__button--text {
        margin: 8px auto 0;
    }

    .help__button--img:hover {
        background: linear-gradient(#FBFBFB, #FBFBFB) padding-box;
    }

    .help__button--img:active {
        background: linear-gradient(136.02deg, #FDFDFD 0%, #EAEAEA 72.75%) padding-box;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .help__title {
        margin: 32px auto 0;
    }

    .help__buttons {
        Justify-content: center;
        margin: 32px auto 16px;
        width: 474px;
    }

    .help__button {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 24px;
        width: 142px;
    }

    .help__button--img {
        height: 80px;
        width: 80px;
    }

    .help__button--text {
        margin: 8px auto 0;
    }

    .help__button--img:hover {
        background: linear-gradient(#FBFBFB, #FBFBFB) padding-box;
    }

    .help__button--img:active {
        background: linear-gradient(136.02deg, #FDFDFD 0%, #EAEAEA 72.75%) padding-box;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .help__title {
        margin: 64px auto 0;
    }

    .help__buttons {
        Justify-content: center;
        margin: 32px auto 30px;
        width: 498px;
    }

    .help__button {
        margin-left: 13px;
        margin-right: 13px;
        margin-bottom: 24px;
        width: 140px;
    }

    .help__button--img {
        height: 110px;
        width: 110px;
    }

    .help__button--text {
        margin: 20px auto 0;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .help__title {
        margin: 64px auto 0;
    }

    .help__buttons {
        margin: 32px auto 54px;
        width: 804px;
    }

    .help__button {
        width: 140px;
    }

    .help__button--img {
        height: 110px;
        width: 110px;
    }

    .help__button--text {
        margin: 20px auto 0;
        font-size: 14px;
    }
}

/* ? Секция HELP1 */
#help1 {
    height: 140px;
    background-image: url(background/help1.svg);
}

.help1__wrapper {
    display: flex;
    justify-content: center;
}

.help1__container {
    margin-top: 72px;
    margin-bottom: 72px;
    width: 875px;
    margin-left: 77px;
    display: flex;
    Justify-content: space-between;
}

.help1__content {
    width: 389px;
    margin-bottom: 0;
}

.help1__content--title {
    margin: 0 auto;
}

.help1__content--text {
    margin: 20px auto 0;
}

.help1__title {
    margin: 0 auto 24px;
    text-align: center;
}

#pets {
    /* Тут будут питомцы */
}

@media (min-width: 360px) and (max-width: 639px) {
    .help1__container {
        width: 300px;
    }

    .help1__content {
        width: 300px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .help1__container {
        width: 382px;
    }

    .help1__content {
        width: 382px;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .help1__container {
        margin-top: 24px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        Justify-content: flex-start;
        align-items: center;
    }

    .help1__container div:first-child {
        margin-bottom: 32px;
    }

    .help1__content--title {
        text-align: center;
    }

    .help1__content--text {
        margin: 16px auto 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .help1__container {
        margin-top: 40px;
        margin-bottom: 48px;
        width: 426px;
        margin-left: 28px;
    }

    .help1__content {
        width: 190px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .help1__container {
        margin-top: 40px;
        margin-bottom: 48px;
        width: 618px;
        margin-left: 48px;
    }

    .help1__content {
        width: 275px;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .help1__container {
        margin-left: 83px;
    }
}

@media (min-width: 1441px) {
    .help1__container {
        margin-left: 123px;
    }
}

/* ? Секция HELP2 */
#help2 {
    margin-top: 30px;
    height: 126px;
    background-image: url(background/help2.svg);
}

.help2__wrapper {
    display: flex;
}

.help2__container {
    margin: 40px auto 40px;
}

.help2__title {
    margin: 0 auto 0;
    width: 758px;
    text-align: center;
}

.help2__subtitle {
    margin: 24px auto 40px;
    height: 55px;
    width: 758px;
    color: #6B6B6B;
    text-align: center;
}

.help2__inner {
    width: 875px;
    margin-left: 75px;
    display: flex;
    Justify-content: space-between;
}

.help2__content {
    width: 389px;
}

.help2__content-title {
    margin-bottom: 24px;
}

.help2__content-text {
    margin: 0 auto 0.4375rem;
}

.help2__content ol {
    margin: 0 0 0 15px;
    padding: 0;
}

.help2__content li {
    margin-bottom: 0.4375rem;
}

.help2__btn {
    margin-top: 24px;
}

.help2__btn-text {
    margin-top: 24px;
}

@media (min-width: 360px) and (max-width: 639px) {
    #help2 {
        margin-top: 16px;
    }

    .help2__container {
        margin: 24px auto 16px;
    }

    .help2__title {
        width: 300px;
    }

    .help2__subtitle {
        margin: 16px auto 0;
        height: 89px;
        width: 300px;
    }

    .help2__inner {
        width: 300px;
        margin-left: 0;
        flex-wrap: wrap;
    }

    .help2__content-title {
        font-size: 20px;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .help2__btn {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }

    .help2__btn-text {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    #help2 {
        margin-top: 16px;
    }

    .help2__container {
        margin: 24px auto 16px;
    }

    .help2__title {
        width: 382px;
    }

    .help2__subtitle {
        margin: 16px auto 0;
        height: 89px;
        width: 382px;
    }

    .help2__inner {
        width: 382px;
        margin-left: 0;
        flex-wrap: wrap;
    }

    .help2__content-title {
        font-size: 20px;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .help2__btn {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }

    .help2__btn-text {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #help2 {
        margin-top: 16px;
    }

    .help2__container {
        margin: 24px auto 16px;
    }

    .help2__title {
        width: 358px;
    }

    .help2__subtitle {
        margin: 16px auto 40px;
        height: 89px;
        width: 358px;
    }

    .help2__inner {
        width: 501px;
        margin-left: 47px;
    }

    .help2__content {
        width: 237px;
    }

    .help2__content-title {
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    #help2 {
        margin-top: 16px;
    }

    .help2__container {
        margin: 24px auto 24px;
    }

    .help2__title {
        width: 530px;
    }

    .help2__subtitle {
        margin: 16px auto 40px;
        width: 530px;
    }

    .help2__inner {
        width: 618px;
        margin-left: 48px;
    }

    .help2__content {
        width: 275px;
    }

    .help2__content-title {
        font-size: 24px;
    }

    .help2__content ul,
    .help2__content ol,
    .help2__content p,
    .help2__content span {
        font-size: 14px;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {

    .help2__title,
    .help2__subtitle {
        margin-left: 101px;
    }

    .help2__inner {
        margin-left: 81px;
    }
}

@media (min-width: 1441px) {

    .help2__title,
    .help2__subtitle {
        margin-left: 141px;
    }

    .help2__inner {
        margin-left: 121px;
    }
}

/* ? Секция HELP3 */
#help3 {
    margin-top: 36px;
    height: 126px;
    background-image: url(background/help3.svg);
}

.help3__wrapper {
    margin: 40px auto 72px;
    display: flex;
    justify-content: center;
}

.help3__container {
    margin-left: 118px;
    width: 680px;
}

.help3__container div:nth-child(2) {
    margin: 40px 0;
}

.help3__title {
    margin: 0 auto 24px;
}

.help3__text {
    margin: 0;
    padding: 0px;
}

.help3__text li {
    margin-top: 0.375rem;
}

.help3__text li:nth-child(5) {
    color: #6B6B6B;
}

.help3__btn-text {
    margin-top: 16px;
}

@media (min-width: 360px) and (max-width: 639px) {
    #help3 {
        margin-top: 32px;
    }

    .help3__wrapper {
        margin: 24px auto 40px;
    }

    .help3__container {
        margin-left: 0;
        width: 300px;
    }

    .help3__title {
        margin: 0 auto 16px;
        height: 20px;
    }

    .help3__btn-text {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    #help3 {
        margin-top: 32px;
    }

    .help3__wrapper {
        margin: 24px auto 40px;
    }

    .help3__container {
        margin-left: 0;
        width: 382px;
    }

    .help3__title {
        margin: 0 auto 16px;
        height: 20px;
    }

    .help3__btn-text {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .help3__wrapper {
        margin: 24px auto 58px;
    }

    .help3__container {
        margin-left: 0;
        width: 398px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .help3__wrapper {
        margin: 24px auto 58px;
    }

    .help3__container {
        margin-left: 89px;
        width: 481px;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .help3__container {
        margin-left: 124px;
    }
}

@media (min-width: 1441px) {
    .help3__container {
        margin-left: 164px;
    }
}

/* ? Секция HELP4 */
#help4 {
    height: 126px;
    background-image: url(background/help4.svg);
}

.help4__wrapper {
    display: flex;
    justify-content: center;
    margin: 40px auto 72px;
}

.help4__container {
    margin-left: 118px;
    width: 680px;
}

.help4__title {
    margin: 0 auto 24px;
}

.help4__btn {
    margin-top: 24px;
}

@media (min-width: 360px) and (max-width: 639px) {
    .help4__wrapper {
        margin: 24px auto 40px;
    }

    .help4__container {
        margin-left: 0;
        width: 300px;
    }

    .help4__title {
        margin: 0 auto 16px;
        text-align: center;
    }

    .help4__btn {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .help4__wrapper {
        margin: 24px auto 40px;
    }

    .help4__container {
        margin-left: 0;
        width: 382px;
    }

    .help4__title {
        margin: 0 auto 16px;
        text-align: center;
    }

    .help4__btn {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .help4__wrapper {
        margin: 24px auto 56px;
    }

    .help4__container {
        margin-left: 48px;
        width: 398px;
    }

    .help4__btn {
        margin-top: 24px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .help4__wrapper {
        margin: 24px auto 56px;
    }

    .help4__container {
        margin-left: 89px;
        width: 481px;
    }

    .help4__btn {
        margin-top: 24px;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .help4__container {
        margin-left: 124px;
    }
}

@media (min-width: 1441px) {
    .help4__container {
        margin-left: 164px;
    }
}

/* ? Секция HELP5 */
#help5 {
    height: 126px;
    background-image: url(background/help5.svg);
}

.help5__wrapper {
    display: flex;
    margin-top: -10px;
    margin-bottom: 50px;
}

.help5__container {
    display: flex;
    align-self: center;
    height: 38.14vw;
    max-height: 521px;
    width: 45.1vw;
}

.help5__mask {
    min-height: 300px;
    height: 100%;
    background-color: #FFC41E;
}

.help5__mask--rect {
    min-width: 15.3%;
    width: calc(45.1vw - 521px);
}

.help5__mask--square {
    min-width: 300px;
    width: 38.14vw;
    max-width: 521px;
    border-radius: 0 50% 50% 0;
}

.help5__img {
    box-sizing: border-box;
    padding: 5.47%;
    height: 100%;
    /* Если вдруг картинка поменяется на квадратную
    object-fit: cover;
    width: 100%;
    border-radius: 100%;*/
}

.help5__content {
    align-self: center;
    margin-left: 78px;
    width: 466px;
}

.help5__title {
    margin: 0 auto 24px;
}

.help5__btn {
    margin-top: 24px;
}

@media (min-width: 360px) and (max-width: 639px) {
    .help5__wrapper {
        flex-wrap: wrap;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .help5__container {
        height: 212px;
        width: 60.9375vw;
    }

    .help5__mask {
        min-height: 212px;
        height: 100%;
        background-color: #FFC41E;
    }

    .help5__mask--rect {
        min-width: 38px;
        width: 27.8125vw;
    }

    .help5__mask--square {
        min-width: 212px;
        width: 212px;
    }

    .help5__content {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .help5__title {
        margin: 24px auto 16px;
        text-align: center;
    }

    .help5__btn {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .help5__wrapper {
        flex-wrap: wrap;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .help5__container {
        height: 212px;
        width: 390px;
    }

    .help5__mask {
        min-height: 212px;
        height: 100%;
        background-color: #FFC41E;
    }

    .help5__mask--rect {
        min-width: 178px;
        width: 178px;
    }

    .help5__mask--square {
        min-width: 212px;
        width: 212px;
    }

    .help5__content {
        margin-left: auto;
        margin-right: auto;
        width: 382px;
    }

    .help5__title {
        margin: 24px auto 16px;
        text-align: center;
    }

    .help5__btn {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .help5__wrapper {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .help5__content {
        margin-left: 40px;
        width: 217px;
    }

    .help5__btn {
        margin-right: -5px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .help5__wrapper {
        margin-top: 24px;
        margin-bottom: 40px;
    }

    .help5__content {
        margin-left: 62px;
        width: 323px;
    }
}

/* ? Секция NEWS */
#news {
    display: flex;
}

.news__wrapper {
    margin: 54px auto 53px;
}

.news__container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 778px;
}

.news__title {
    text-align: center;
}

.news__content {
    margin-top: 40px;
    min-height: 140px;
    display: flex;
    align-items: center;
}

#news__box article:nth-child(1n+3) {
    display: none;
}

#news__box.open article:nth-child(1n+3) {
    display: flex;
}

#news__box.open .btn-text:after {
    content: '';
    position: absolute;
    margin-left: 16px;
    height: 40px;
    width: 24px;
    background-image: url(icon/arrow_up.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.news__content--img {
    margin-right: 35px;
    width: 140px;
}

.news__content--text p {
    margin-bottom: 0.375rem;
}

.news__content--text p:last-of-type {
    margin-bottom: 0;
}

.news__btn-text {
    position: relative;
    margin-top: 24px;
}

@media (min-width: 360px) and (max-width: 639px) {
    .news__wrapper {
        margin: 16px auto;
    }

    .news__container {
        margin-left: 0;
        width: 300px;
    }

    .news__content {
        margin-top: 24px;
        min-height: 0;
        height: auto;
        align-items: flex-start;
    }

    .news__content--img {
        margin-right: 16px;
        width: 79px;
    }

    .news__btn-text {
        margin-top: 16px;
        align-self: center;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .news__wrapper {
        margin: 16px auto;
    }

    .news__container {
        margin-left: 0;
        width: 382px;
    }

    .news__content {
        margin-top: 24px;
        min-height: 0;
        height: auto;
        align-items: flex-start;
    }

    .news__content--img {
        margin-right: 16px;
        width: 79px;
    }

    .news__btn-text {
        margin-top: 16px;
        align-self: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .news__wrapper {
        margin: 24px auto;
    }

    .news__container {
        margin-left: 68px;
        width: 426px;
    }

    .news__content {
        margin-top: 24px;
    }

    .news__content--img {
        margin-right: 18px;
        width: 104px;
    }

    .news__btn-text {
        margin-top: 16px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .news__wrapper {
        margin: 36px auto;
    }

    .news__container {
        margin-left: 113px;
        width: 595px;
    }

    .news__content {
        margin-top: 24px;
    }

    .news__content--img {
        margin-right: 18px;
    }

    .news__btn-text {
        margin-top: 16px;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .news__container {
        margin-left: 26px;
    }

    .news__title {
        margin-left: 6px;
    }
}

@media (min-width: 1441px) {
    .news__container {
        margin-left: 66px;
    }

    .news__title {
        margin-left: 46px;
    }
}

/* ? Секция about_us */
#about_us {
    display: flex;
}

.about_us__wrapper {
    margin: 56px auto 54px;
}

.about_us__container {
    margin-left: 118px;
    width: 680px;
}

.about_us__title {
    margin-bottom: 24px;
    text-align: center;
}

.about_us__text {
    margin-bottom: 24px;
}

.about_us__container ul:nth-child(3) {
    margin: 24px auto 40px;
}

.about_us__container ul:nth-child(3) li {
    margin-bottom: 0.4375rem;
}

.about_us__social p {
    margin: 0 0 24px 0;
    color: #6B6B6B;
}

.about_us__social {
    display: flex;
    flex-direction: column;
}

@media (min-width: 360px) and (max-width: 639px) {
    .about_us__wrapper {
        margin: 32px auto;
    }

    .about_us__container {
        margin-left: 0;
        width: 300px;
    }

    .about_us__text {
        font-size: 14px;
        line-height: 20px;
    }

    .about_us__container ul:nth-child(3) {
        margin: 16px auto 24px;
    }

    .about_us__social p {
        margin: 0 24px 0 0;
    }

    .about_us__social {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .about_us__wrapper {
        margin: 32px auto;
    }

    .about_us__container {
        margin-left: 0;
        width: 382px;
    }

    .about_us__text {
        font-size: 14px;
        line-height: 20px;
    }

    .about_us__container ul:nth-child(3) {
        margin: 16px auto 24px;
    }

    .about_us__social p {
        margin: 0 24px 0 0;
    }

    .about_us__social {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .about_us__wrapper {
        margin: 32px auto;
    }

    .about_us__container {
        margin-left: 48px;
        width: 446px;
    }

    .about_us__text {
        font-size: 14px;
        line-height: 20px;
    }

    .about_us__container ul:nth-child(3) {
        margin: 16px auto 32px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .about_us__wrapper {
        margin: 48px auto;
    }

    .about_us__container {
        margin-left: 89px;
        width: 481px;
    }

    .about_us__text {
        font-size: 16px;
        line-height: 24px;
    }

    .about_us__container ul:nth-child(3) {
        margin: 24px auto 32px;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .about_us__container {
        margin-left: 124px;
    }

    .about_us__title {
        margin-left: 6px;
    }
}

@media (min-width: 1441px) {
    .about_us__container {
        margin-left: 164px;
    }

    .about_us__title {
        margin-left: 46px;
    }
}

/* ? Секция THANKS */
.thanks {
    position: relative;
    min-height: 267px;
    height: 54.25vw;
    max-height: 741px;
    background-image: url(background/thanks_big.jpg);
    display: flex;
}

.thanks__wrapper {
    position: relative;
    top: 16%;
    height: 521px;
    width: 615px;
}

.thanks__mask {
    height: 100%;
    background-color: #322D1E;
}

.thanks__mask--rect {
    position: absolute;
    width: 20%;
}

.thanks__mask--square {
    position: absolute;
    right: 0;
    width: 84.7%;
    border-radius: 0 50% 50% 0;
}

.thanks__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks__text {
    position: relative;
    margin: 0;
    width: 346px;
    height: 154px;
    font-weight: bold;
    font-size: 4rem;
    line-height: 120%;
    color: #FFFFFF;
}

.thanks__img {
    position: absolute;
    top: 254px;
    right: 46px;
    width: 14.55%;
}

@media (min-width: 360px) and (max-width: 639px) {
    .thanks__wrapper {
        min-height: 212px;
        min-width: 250px;
        height: 70.31%;
        width: 45%;
    }

    .thanks__text {
        width: 158px;
        height: 78px;
        font-size: 30px;
    }

    .thanks__img {
        top: 48.75%;
        right: 7.5%;
        width: 40.75px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .thanks__wrapper {
        height: 70.31%;
        width: 45%;
    }

    .thanks__text {
        width: 56%;
        height: 29.5%;
        font-size: 4.685vw;
    }

    .thanks__img {
        top: 48.75%;
        right: 7.5%;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .thanks__wrapper {
        height: 70.31%;
        width: 45%;
    }

    .thanks__text {
        width: 56%;
        height: 29.5%;
        font-size: 4.685vw;
    }

    .thanks__img {
        top: 48.75%;
        right: 7.5%;
    }
}

@media (min-width: 360px) and (max-width: 1269px) {
    .thanks {
        background-image: url(background/thanks_small.jpg);
    }
}

/* ? Секция FOOTER */
.footer__nav {
    margin: 16px auto 16px;
    width: 1146px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}

.footer__nav ul {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__nav ul:nth-child(1) {
    width: 880px;
}

.footer__nav ul:nth-child(2) {
    width: 143px;
}

.footer__nav li {
    margin-top: 20px;
}

.footer__nav ul:nth-child(1) li {
    font-weight: 600;
    line-height: 17px;
    color: #474747;
}

.footer__nav ul:nth-child(1) li:hover {
    color: #AD7F00;
}

.footer__nav ul:nth-child(1) li:active {
    color: #474747;
}

.footer__nav ul:nth-child(2) li {
    font-weight: 400;
    line-height: 16px;
}

.footer__nav ul:nth-child(2) li:hover {
    color: #AD7F00;
}

.footer__nav ul:nth-child(2) li:active {
    color: #474747;
}

.footer__copyright {
    margin: 24px auto 0;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #B3B3B3;
}

@media (min-width: 360px) and (max-width: 639px) {
    .footer__nav {
        width: 300px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .footer__nav {
        width: 382px;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .footer__nav {
        margin: 0 auto 16px;
    }

    .footer__nav ul:nth-child(1) {
        width: 235px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer__nav ul:nth-child(2) {
        width: 65px;
        display: block;
        text-align: end;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer__nav {
        margin: 0 auto 16px;
        width: 548px;
    }

    .footer__nav ul:nth-child(1) {
        height: 111px;
        width: 400px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer__nav ul:nth-child(2) {
        width: 65px;
        display: block;
        text-align: end;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .footer__nav {
        margin: 0 auto 16px;
        width: 804px;
    }

    .footer__copyright {
        margin: 24px 0 0 0;
    }
}

/* ? МЕДИАЗАПРОСЫ */
@media (max-width: 1023px) {
    html {
        font-size: 14px;
    }

    .title--h4-normal {
        font-size: 18px;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .title--h3-light {
        font-size: 18px;
    }

    .title--h3-medium {
        height: 24px;
        font-size: 16px;
    }

    .title--h3-semibold {
        height: 40px;
        font-size: 16px;
    }

    #help1 {
        height: 52px;
    }

    #help2,
    #help3,
    #help4,
    #help5 {
        height: 47px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .title--h3-light {
        font-size: 24px;
    }

    .title--h3-medium {
        font-size: 20px;
    }

    .title--h3-semibold {
        font-size: 20px;
    }

    #help1 {
        height: 62px;
    }

    #help2,
    #help3,
    #help4,
    #help5 {
        height: 55px;
    }
}

@media (min-width: 1024px) and (max-width: 1269px) {
    .title--h3-light {
        font-size: 24px;
    }

    .title--h3-medium {
        font-size: 24px;
    }

    .title--h3-semibold {
        font-size: 24px;
    }
}

@media (min-width: 1024px) and (max-width: 1920px) {
    #help1 {
        height: 140px;
    }

    #help2,
    #help3,
    #help4,
    #help5 {
        height: 126px;
    }
}

@media (min-width: 1921px) {
    #help1 {
        background-size: contain;
    }

    #help2,
    #help3,
    #help4,
    #help5 {
        background-size: contain;
    }
}

@media (min-width: 360px) and (max-width: 639px) {
    .hamburger__list {
        padding-top: 64px;
    }

    .hamburger__item {
        width: calc(100vw - 134px);
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .hamburger__list {
        padding-top: 64px;
    }

    .hamburger__item {
        height: 62px;
        width: calc(100vw - 226px);
        line-height: 46px;
    }

    .hamburger__list li:nth-child(4) {
        margin-bottom: 8px;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .social li:first-child {
        margin-right: 22px;
    }

    .hamburger__btn {
        padding: 8px 4px;
        width: 24px;
        height: 16px;
    }

    .hamburger__btn>span,
    .hamburger__btn>span::before,
    .hamburger__btn>span::after {
        width: 24px;
    }

    .hamburger__btn>span::before {
        top: -7px;
    }

    .hamburger__btn>span::after {
        top: 7px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .social li:first-child {
        margin-right: 24px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .header__nav ul:nth-child(-n+2) li:nth-child(-n+2) {
        display: none;
    }
}

@media (min-width: 1024px) {
    .hamburger {
        display: none;
    }
}